.home {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    padding-top: 6vh;
    .body {
        // margin-top: 6vh;
        // width: 100%;
        padding-left: 10vw;
        // height: 90vh;
    }
}